<div class="page">
  <div class="primary_content">
    <div class="site_title">
      <span>Add a Pet</span>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
        <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
        <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>
    <div class="left">
      <div class="signup">
        <h3>Add Pet</h3>
        <form action="/addpet" method = "post">
          <legend>Pet Name</legend>
          <input type="text" placholder="your pets name" name="pet_name">
          <legend>Type of Pet</legend>
      	  <select name="animal" placeholder="Animal Type">
            <option value = "dog">Dog</option>
            <option value = "cat">Cat</option>
          </select>
      	  <legend>Breed</legend>
          <input type="text" placeholder="Breed" name="breed">
          <legend>Picture Url</legend>
          <input type="text" placeholder="url" name="image">
          <input type="hidden" value="<%= @current_user.neighborhood %>"  name="neighborhood">
          <input class = "fs" type="submit" placeholder="Log In">
        </form>
      </div>
    </div><!-- left -->
    <div class="sidebar">
      <aside class="hoods-aside">
        <h4>About Us</h4>
        <p>neque tale monstret optimus divitiarum nacti tempora, eorumque desideraret malunt debilitatem pariant afranius depravatum restat contemnentes honestatis.</p>
        <h5><a href="#">More...</a></h5>
        <div class="side_image">
          <img  src="http://i.imgur.com/d1cRSgA.gif">  
        </div>
        <h4>Get Invovled</h4>
        <ul>
          <li><a href="#">Donate</a></li>
          <li><a href="#">Adopt</a></li>
          <li><a href="#">Volunteer</a></li>
        </ul>
        <h4>Coming Soon</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Metrodorus monstret scientiam. Noster admirer canes admonere temeritas utinam plurimum primis invidiae, profecta astris vel desistemus cotidie mandaremus efficere, posuit</p>
      </aside>
    </div>
  </div>
</div>