<h2> Add a Pet </h2>

 <form action="/addpet" method = "post">
  <legend>Pet Name</legend>
  <input type="text" placholder="your pets name" name="pet_name">
  <legend>Type of Pet</legend>
	  <select name="animal" placeholder="Animal Type">
	     <option value = "dog">Dog</option>
	     <option value = "cat">Cat</option>
	  </select>
	<legend>Breed</legend>
  <input type="text" placeholder="Breed" name="breed">
  <legend>Picture Url</legend>
  <input type="text" placeholder="url" name="image">
  <input class = "fs" type="submit" placeholder="Log In">
</form>


<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input type="text" id="tags">
</div>