<h3><%= @current.user_name.capitalize %></h3>
<h3>New Post</h3>

 <form action="/addpost" method = "post">
  <legend>Post</legend>
  <textarea type="text" placholder="your pets name" name="new_post"></textarea>
  <legend>Picture Url</legend>
  <input type="text" placeholder="url" name="post_image">
  <input class = "fs" type="submit" placeholder="Create">
</form>