
<div class="page">
	<div class="site_title">
      <span>DC PET CONNECTION - Users</span>
    </div>
	<div class="primary_content">
	      <div class="menu">
	        <ul>
	          <li><span>01</span><a href="/users">USERS</a></li>
	          <li><span>02</span><a href="/hoods">NEIGHBORHOODS</a></li>
	          <li><span>03</span><a href="/">CONNECT</a></li>
	        </ul>
	      </div>
		<ul>
			<li><a href= "hoods/capitolhill"><p>Capitol Hill</p></a></li>
			<li><a href= "hoods/clevelandwoodley"><p>Cleveland/Woodley Park</p></a></li>
			<li><a href= "hoods/glovergeorgetown"><p>Gloverpark/Georgetown</p></a></li>
			<li><a href= "hoods/mtpleasantcolumbiaheights"><p>Mt. Pleasant/Columbia Heights</p></a></li>
			<li><a href= "hoods/dupontcircle"><p>Dupont Circle</p></a></li>
			<li><a href= "hoods/shawbloomingdale"><p>Shaw/Bloomingdale</p></a></li>
			<li><a href= "hoods/tenleytown"><p>Tenleytown/Friendship Heights</p></a></li>
			<li><a href= "hoods/petworth"><p>Petworth</p></a></li>
			<li><a href= "/hoods/takoma"><p>Takoma Park</p></a></li>
		</ul>
	</div>
</div>



