<div class="page">
	<div class="primary_content">
		<div class="site_title">
      <span>Neighborhoods</span>
   	</div>
	  <nav class="menu">
      <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>	
    <ul> 
    	<% @hoods.each do |hood| %>
    	<li>
    		<a href="hoods/<%= hood %>"><p><%= hood.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></p><a>
			</li>
    	<% end %>
    </ul>
	</div>
</div>



