
<div class="page">
    
    <div class="primary_content">
      <div class="site_title">
      <span>DC PET CONNECTION</span>
    </div>
      <div class="menu">
        <ul>
          <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
          <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
          <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="#log">CONNECT</a></li>
        </ul>
      </div>
      <section>
        <h1>Pet Connection</h1>
        <div class="bio_frame">
          <div class= "home_photo">
          </div>
          <a href="#"><img class="bio_image" src="<%= @selected_pet %>" alt="Random_Pet" /></a>
          <p class="caption">(This is "<%= @front_pet %>" from "<%= @pet_hood %>")</p>
        </div>
        <div class="about">
          <div class="login">
            <div id="log"></div>
            <h2>Log In</h2>
            <form action="/login" method = "post">
              <legend>Email</legend>
              <input type="text" placholder="email" name="email">
              <legend>Password</legend>
              <input type="password" placeholder="password" name="password">
              <input class = "fs" type="submit" placeholder="Log In">
            </form>
          </div>
            <a href= "/signup">Sign Up Page</a>
      			<a href="/session/logout">Logout</a>
            <a href="#">Search</a>
        </div>

      </section>
      <div class="bottom">
        <article class="social_nav">
          <h2>Follow Us!</h2>
          <div class="social_icons">
            <a href="#"><img src="/assets/images/social/facebookicon.png" alt="icon"/></a>
            <a href="#"><img src="/assets/images/social/googleicon.png" alt="icon"/></a>
            <a href="#"><img src="/assets/images/social/linkedinicon.png" alt="icon"/></a>
            <a href="#"><img src="/assets/images/social/twittericon.png" alt="icon"/></a>
            <a href="#"><img src="/assets/images/social/instagramicon.png" alt="icon"/></a>
            <a href="#"><img src="/assets/images/social/emailicon.png" alt="icon"/></a>
          </div>
        </article>
      </div>
    </div>
    <div class="footer">
      <p class="caption">Site Designed by Austin Formica 2014</p>
    </div>
  </div>