<div class="page">
  <div class="primary_content">
    <div class="site_title">
      <span>DC PET CONNECTION</span>
    </div>
    <div class="sidebar">
      <aside>
        <h4>About Us</h4>
        <p>neque tale monstret optimus divitiarum nacti tempora, eorumque desideraret malunt debilitatem pariant afranius depravatum restat contemnentes honestatis.</p>
        <h5><a href="#">More...</a></h5>
        <div class="side_image">
          <img  src="http://i.imgur.com/d1cRSgA.gif">  
        </div>
        <h4>Get Involved</h4>
        <ul>
          <li><a href="#">Donate</a></li>
          <li><a href="#">Adopt</a></li>
          <li><a href="#">Volunteer</a></li>
        </ul>
        <h4>Coming Soon</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Metrodorus monstret scientiam. Noster admirer canes admonere temeritas utinam plurimum primis invidiae, profecta astris vel desistemus cotidie mandaremus efficere, posuit</p>
      </aside>
    </div> <!-- sidebar -->
    <div class="menu">
      <ul>
        <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
        <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
        <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="#log">CONNECT</a></li>
      </ul>
    </div> <!-- menu -->
    <section>
      <h1>Stay Connected</h1>
      <div class="bio_frame">
        <a href="#"><img class="bio_image" src="<%= @selected_pet %>" alt="Random_Pet" /></a>
        <% if @selected_pet %>
        <p class="caption">Meet "<%= @front_pet.capitalize %>" From "<%= @pet_hood.capitalize %>"</p>
        <% else %>
        <p class="caption">Meet " " From " "</p>
        <% end %>
      </div> <!-- bio_fram -->
      <div class="about">
        <div class="login">
          <div id="log"></div>
          <h2>Log In</h2>
          <form action="/login" method = "post">
            <legend>Email</legend>
            <input type="text" placholder="email" name="email">
            <legend>Password</legend>
            <input type="password" placeholder="password" name="password">
            <input class = "fs" type="submit" placeholder="Log In">
          </form>
          <div class="login-links">
          <a href= "/signup">Sign Up Page</a>
          <a href="/session/logout">Logout</a>
        </div>
        </div> <!-- login -->

      </div> <!-- about -->
    </section>
  </div> <!-- primary-content -->
    <footer class="footer-bio">
      <div class="bio-image">
        <img src="http://i.imgur.com/EAnaWGm.jpg">
      </div>
      <div class="bio">
        <h3 class="about_me">About me</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Conversam militaris suavitate iudicante administrari praeterea per conversa, suo priventur, cupiditate dicantur praetorem praetermittenda, reici neque manilium scaevolam soleat graeci inesse, cives meque reprimique animumque iucunditas contentam dicitur consecutus, seiunctum hominum statuerunt, tradidisse fingi ipse cupiditate saepe copulationes, ero lectorem, declinatio notissima. Bonarum pulchraeque atomos requietis.</p>
        <div class="social_icons">
          <a href="https://github.com/citylims"><span class="icon-GitHub-circle"></span></a>
          <a href="https://twitter.com/CityLims"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-Linked-in"></span></a>
          <a href="#"><span class="icon-StackOverflow"></span></a>
          <a href="#"><span class="icon-Email"></span></a>
          <a href="#"><span class="icon-RSS"></span></a>
          <a href="#"><span class="icon-Share"></span></a>
        </div>
     
      </div> <!-- bio -->
    </footer>
</div> <!-- page -->