<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/big_styles.css">
  </head>
  <body>
  	
	<!-- <h1 class="site-title">CAPITOL PET CONNECTION</h1> -->
  

	<%= yield %>
  </body>