<div class="page">
	<div class="site_title">
      <span>DC PET CONNECTION - <%= @neighborhood %></span>
    </div>
	<div class="primary_content">
	      <div class="menu">
	        <ul>
	          <li><span>01</span><a href="/users">USERS</a></li>
	          <li><span>02</span><a href="/hoods">NEIGHBORHOODS</a></li>
	          <li><span>03</span><a href="/">CONNECT</a></li>
	        </ul>
	      </div>
		<ul>
			<!-- users by hood -->
		<ul> 
			<% @neighborhood_users.each do |user| %>
			<li>
				<p><%= user.user_name %></p>
			</li>
			<% end %>
		</ul>
		<ul> 
			<% @neighborhood_pets.each do |pet| %>
			<li>
				<p><%= pet.pet_name %></p>
			</li>
			<% end %>
		</ul>
	</div>
</div>



