<div class="page">
  <div class="primary_content">
        <div class="site_title">
          <span>Delete Post</span>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
            <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
            <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
          </ul>
        </nav>    
		<ul>
			<% @post.each do |post| %>
					<li>
						<h3><%= post.body %></h3>
						<h3><%= Kronic.format(post.created_at) %></h3>
						<img class ="pet-image" src="<%= post.image %>">
						<% if session[:user_id] == post.user_id %>
						<div>
							<form action="/delete_post" method="post">
								<legend>Delete Post?</legend>
								<input name="_method" type="hidden" value="delete" />
								<input type="hidden" value="<%= post.id %>" name="post_to_delete">
								<input class = "fs" type="submit" placeholder="delete">
							</form>
						</div>
						<% else %>
						<% end %>
					</li>
			<% end %>
		</ul>
	</div>
</div>
