<h2>Search</h2>

<form action="/search" method = "post">
	  <legend>Select Your Neighborhood</legend>
		  <select name="search_select">
		     <option value = "">Capitol Hill</option>
		     <option value = "clevelandwoodley">Cleveland/Woodley Park</option>
		   
		  </select>
		<legend>Submit</legend>
		  <input class = "fs" type="submit" placeholder="Log In">
 </form>