<div class="page">
	<div class="primary_content">
		<div class="site_title">
      <span>Users</span>
    </div>
	  <nav class="menu">
	    <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
	    </ul>
	  </nav>
	  <div class="left">
				<div class = "signup">
					<h3>Sign up</h3>
			 		<form action="/signup" method = "post">
			 			<legend>User Name</legend>
				 		<input type="text" placeholder="UserName" name="username" required>
				  	<legend>Email</legend>
					  <input type="text" placholder="Email" name="email" required>
				  	<legend>Password</legend>
					  <input type="password" placeholder="Password" name="password" required>
				  	<legend>Select Your Neighborhood</legend>
					  <select name="neighborhood" placeholder="DC Neighborhoods">
					  	<% @hoods.each do |hood| %>
					  	<option value="<%= hood %>"><%= hood.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></option>
					  	<% end %>
					  </select>
						<br>
						<br>
					  <input class = "fs" type="submit" placeholder="Log In">
			 		</form>
				</div>
		</div><!-- left -->
		<div class="sidebar">
      <aside class="hoods-aside">
        <h4>About Us</h4>
        <p>neque tale monstret optimus divitiarum nacti tempora, eorumque desideraret malunt debilitatem pariant afranius depravatum restat contemnentes honestatis.</p>
        <h5><a href="#">More...</a></h5>
        <div class="side_image">
          <img  src="http://i.imgur.com/d1cRSgA.gif">  
        </div>
      </aside>
    </div>
	</div>
</div>