<div class="page">
	<div class="primary_content">
		<div class="site_title">
     	<span>Users</span>
    </div>
	  <nav class="menu">
      <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>
    <nav class="user-alpha"> 
	    <ul>
	    <% @alpha.each do |letter| %>
		    <li><a href="/users/<%= letter %>"><%= letter %></a></li>
		  <% end %>
	    </ul>
	  </nav>
	  <div class="left">
		  <div class="list-display">
				<ul>
					<% @all_users.each do |user| %>
					<% if @character.length > 1 %>
						<li><%= user.user_name %></li>
					<% elsif user.user_name.initial == @character %>
						<li><%= user.user_name %></li>
					<%end%>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>