.pet-image {
  max-height: 200px;
  max-width: 200px;
  border: 4px black;
  border-radius: 20%

}

.profile_container {
  margin: auto;
  text-align: center; /*to center form*/
  position: relative;
  display: block;
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
  height: 1000px;
  width: 750px;
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
}

.profile-name {
	/*color: black*/
}
.hood {
	margin-top: -80px;
	/*color: black;*/
}

.site-title {
	background-color: black;
	width 80%;
	height: 50px;
}

.signup {
	margin: auto;
	text-align:  center;
}

.signup a {
	display: block;
	clear: both;
	font-size: 30px;
}

h2.page-title {
  color: #FF6633;
  font-family: 'Roboto Condensed', serif;
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  padding-top: 0px;
  margin-top: 0px;
  width: 1200px;
}

li p {
	padding-left: 10px;
	color: red;
}

.profile-header {
	margin-top: -100px;
}

.profile-header a{
	display: block;
	text-align: center;
}